{# app/templates/auth/login.html #}
{% extends 'base.html' %}

{% block title %}{{ title if title else "Вход" }}{% endblock %}

{% block content %}
<div class="d-flex h-100 bg-light">
    <form class="container-fluid m-auto bg-white p-4 p-md-5 border rounded shadow-sm" method="POST" action="{{ url_for('auth.login', next=request.args.get('next')) }}" novalidate style="max-width: 25rem;">
        {{ form.hidden_tag() }}
        <div class="text-center mb-4">
            <img class="mb-2" src="{{ url_for('static', filename='images/polytech_logo.png') }}" alt="Лого" width="72">
            <h2 class="h3 mb-3 fw-normal">Вход в систему</h2>
        </div>

        <div class="form-floating mb-3">
            {{ form.login(class="form-control" + (" is-invalid" if form.login.errors else ""), placeholder="Логин", autocomplete="username", id="floatingLogin") }}
            <label for="floatingLogin">Логин</label>
            {% if form.login.errors %}
                <div class="invalid-feedback">
                    {% for error in form.login.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), placeholder="Пароль", autocomplete="current-password", id="floatingPassword") }}
            <label for="floatingPassword">Пароль</label>
            {% if form.password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-check mb-3">
            {{ form.remember_me(class="form-check-input", id="rememberMeCheck") }}
            {{ form.remember_me.label(class="form-check-label", for="rememberMeCheck") }}
        </div>

        {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
        {# <p class="mt-3 mb-0 text-center"><a href="#">Забыли пароль?</a></p> #}
    </form>
</div>
{% endblock %}