{# app/templates/equipment/new.html #}
{% extends "base.html" %}
{% block title %}{{ title if title else "Добавить оборудование" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">{{ title if title else "Добавить новое оборудование" }}</h1>
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="POST" action="{{ url_for('equipment.create') }}" enctype="multipart/form-data" novalidate>
                        {% include "equipment/_form.html" %} {# Включаем общую часть формы #}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}