{% extends "base.html" %}
{% from "_form_macros.html" import render_field, render_submit_button %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4">Изменение пароля</h1>

<form method="POST" action="{{ url_for('change_password') }}" novalidate>
    {{ form.hidden_tag() }} {# CSRF токен #}

    {{ render_field(form.old_password) }}
    {{ render_field(form.new_password) }}
    {{ render_field(form.confirm_new_password) }}

    <div class="mt-4">
         {{ render_submit_button(form.submit) }}
         <a href="{{ url_for('index') }}" class="btn btn-secondary ms-2">Отмена</a>
    </div>
</form>
{% endblock %}